<div class="row m-0 p-0">
    <div class="col-4 bg-warning">
        <div>
            <h4 class="p-2">New</h4>
            <div class="tasksContainer">
                <div class="addTask bg-primary">+</div>
            </div>
        </div>
    </div>
    <div class="col-4 bg-secondary">
        <div>
            <h4 class="p-2">In Porgress</h4>
            <div class="tasksContainer">
                <div class="addTask bg-primary">+</div>
            </div>
        </div>
    </div>
    <div class="col-4 bg-info">
        <div>
            <h4 class="p-2">Done</h4>
            <div class="tasksContainer">
                <div class="addTask bg-primary">+</div>
            </div>
        </div>
    </div>
</div>
